# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv/
venv/
env/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Data and outputs (exclude large files)
outputs/
to_sais_new/all_nc/
to_sais_new.zip
*.zip
*.nc
output_demo.csv

# logs and databases
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
